<link rel="stylesheet" href="~/styles/pages/home-index.css">

<section class="home-index">
    <section class="home-index__type1">
        <div class="row">
            <div class="js-fade-in-on-scroll left-fade-in-on-scroll col-12 col-lg-6">
                <h2 class="home-index__type1-title">自定義區塊一 標題</h2>
                <h3 class="home-index__type1-text">自定義區塊一 內文</h3>
                <h3 class="home-index__type1-text">自定義區塊一 內文</h3>
            </div>
            <div class="js-fade-in-on-scroll right-fade-in-on-scroll position-relative d-none d-lg-block col-6">
                <img class="home-index__type1-image" src="~/images/test/home_section_image.png" alt="">
            </div>
        </div>
    </section>
    <section class="js-fade-in-on-scroll fade-in-on-scroll home-index__type5">
        <h4 class="home-index__type5-title">自定義區塊五 標題</h4>
        <p class="home-index__type5-text">
            自定義區塊五 內文
        </p>
    </section>
    <section class="home-index__type2">
        <div class="row">
            <div class="js-fade-in-on-scroll left-fade-in-on-scroll position-relative d-none d-lg-block col-6">
                <img class="home-index__type2-image" src="~/images/test/home_section_image.png" alt="">
            </div>
            <div class="js-fade-in-on-scroll right-fade-in-on-scroll col-12 col-lg-6">
                <h2 class="home-index__type2-title">自定義區塊二 標題</h2>
                <h3 class="home-index__type2-text">自定義區塊二 內文</h3>
                <h3 class="home-index__type2-text">自定義區塊二 內文</h3>
            </div>
        </div>
    </section>
    <section class="js-fade-in-on-scroll fade-in-on-scroll home-index__type5">
        <h4 class="home-index__type5-title">自定義區塊五 標題</h4>
        <p class="home-index__type5-text">
            自定義區塊五 內文
        </p>
    </section>
    <section class="home-index__type3">
        <div class="row">
            <div class="js-fade-in-on-scroll left-fade-in-on-scroll col-12 col-lg-6 order-2 order-lg-1">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <button class="home-index__type3-btn">連結</button>
                </div>
            </div>
            <div class="js-fade-in-on-scroll right-fade-in-on-scroll col-12 col-lg-6 order-1 order-lg-2 mb-5 mb-lg-0">
                <h2 class="home-index__type3-title">自定義區塊三 標題</h2>
                <h3 class="home-index__type3-text">自定義區塊三 內文</h3>
                <h3 class="home-index__type3-text">自定義區塊三 內文</h3>
            </div>
        </div>
    </section>
    <section class="js-fade-in-on-scroll fade-in-on-scroll home-index__type5">
        <h4 class="home-index__type5-title">自定義區塊五 標題</h4>
        <p class="home-index__type5-text">
            自定義區塊五 內文
        </p>
    </section>
    <section class="home-index__type4">
        <div class="row">
            <div class="js-fade-in-on-scroll left-fade-in-on-scroll col-12 col-lg-6 mb-5 mb-lg-0">
                <h2 class="home-index__type4-title">自定義區塊四 標題</h2>
                <h3 class="home-index__type4-text">自定義區塊四 內文</h3>
                <h3 class="home-index__type4-text">自定義區塊四 內文</h3>
            </div>
            <div class="js-fade-in-on-scroll right-fade-in-on-scroll col-12 col-lg-6">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <button class="home-index__type4-btn">連結</button>
                </div>
            </div>
        </div>
    </section>
    <section class="js-fade-in-on-scroll fade-in-on-scroll home-index__type5">
        <h4 class="home-index__type5-title">自定義區塊五 標題</h4>
        <p class="home-index__type5-text">
            自定義區塊五 內文
        </p>
    </section>
    <section class="js-fade-in-on-scroll fade-in-on-scroll home-index__type6" style="background-color: #fafafa;">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="home-index__type6-item">
                        <h3 class="home-index__type6-title">20</h3>
                        <p class="home-index__type6-text">年的視覺設計經驗</p>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="home-index__type6-item">
                        <h3 class="home-index__type6-title">568</h3>
                        <p class="home-index__type6-text">個服務客戶</p>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="home-index__type6-item">
                        <h3 class="home-index__type6-title">369</h3>
                        <p class="home-index__type6-text">個網站作品</p>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="home-index__type6-item">
                        <h3 class="home-index__type6-title">286</h3>
                        <p class="home-index__type6-text">個RWD網站作品</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="js-fade-in-on-scroll fade-in-on-scroll home-index__type7"
             style="background-color: #fafafa;">
        <div class="container">
            <div>
                <h5 class="home-index__type7-title" data-title="Section 7">自定義區塊七 標題</h5>
            </div>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="home-index__type7-item">
                        <img class="home-index__type7-icon" src="~/images/test/home_section_icon.png" />
                        <h3 class="home-index__type7-item-title">小標題</h3>
                        <p class="home-index__type7-text">
                            內文
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="home-index__type7-item">
                        <img class="home-index__type7-icon" src="~/images/test/home_section_icon.png" />
                        <h3 class="home-index__type7-item-title">小標題</h3>
                        <p class="home-index__type7-text">
                            內文
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="home-index__type7-item">
                        <img class="home-index__type7-icon" src="~/images/test/home_section_icon.png" />
                        <h3 class="home-index__type7-item-title">小標題</h3>
                        <p class="home-index__type7-text">
                            內文
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="home-index__type7-item">
                        <img class="home-index__type7-icon" src="~/images/test/home_section_icon.png" />
                        <h3 class="home-index__type7-item-title">小標題</h3>
                        <p class="home-index__type7-text">
                            內文
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-index__type8">
        <div class="container">
            <div class="js-fade-in-on-scroll fade-in-on-scroll d-flex justify-content-between align-items-center">
                <a asp-controller="Unit" asp-action="Type2" class="home-index__type8-more-link">
                    <h5 class="home-index__type8-title" data-title="Section 8">自定義區塊八(Type2 單元)</h5>
                </a>
            </div>
            <div class="row">
                <div class="js-fade-in-on-scroll left-fade-in-on-scroll col-12 col-lg-5 mb-3 mb-lg-0">
                    <a asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                        <img class="home-index__type8-image" src="~/images/test/thumbnail.png" alt="">
                    </a>
                </div>
                <div class="js-fade-in-on-scroll right-fade-in-on-scroll col-12 col-lg-7">
                    <p class="home-index__type8-date">2022/11/04</p>
                    <h3 class="home-index__type8-article-title">
                        <a class="home-index__type8-article-link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">Type2 內容標題</a>
                    </h3>
                    <h3 class="home-index__type8-text">
                        敘述...
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="home-index__type9" style="background-color:#f5f5f5">
        <div class="container">
            <div class="js-fade-in-on-scroll fade-in-on-scroll d-flex justify-content-between align-items-center">
                <a asp-controller="Unit" asp-action="Type2" class="home-index__type9-more-link">
                    <h5 class="home-index__type9-title" data-title="Section 9">自定義區塊九(Type2 單元)</h5>
                </a>
            </div>
            <div class="row">
                <div class="js-fade-in-on-scroll left-fade-in-on-scroll col-12 col-lg-7 order-2 order-lg-1">
                    <p class="home-index__type9-date">2022/11/04</p>
                    <h3 class="home-index__type9-article-title">
                        <a class="home-index__type9-article-link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">Type2 內容標題</a>
                    </h3>
                    <h3 class="home-index__type9-text">
                        敘述...
                    </h3>
                </div>
                <div class="js-fade-in-on-scroll right-fade-in-on-scroll col-12 col-lg-5 mb-3 mb-lg-0 order-1 order-lg-2">
                    <a asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                        <img class="home-index__type9-image" src="~/images/test/thumbnail.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-index__type10">
        <div class="container">
            <div class="js-fade-in-on-scroll fade-in-on-scroll d-flex justify-content-between align-items-center">
                <a asp-controller="Unit" asp-action="Type2" class="home-index__type10-more-link">
                    <h5 class="home-index__type10-title" data-title="Section 10">自定義區塊十(Type2 單元)</h5>
                </a>
            </div>
            <div class="js-fade-in-on-scroll fade-in-on-scroll row">
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="home-index__type10-item">
                        <a asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                            <img class="home-index__type10-image" src="~/images/test/thumbnail.png" alt="">
                        </a>
                        <p class="home-index__type10-date">2022/11/04</p>
                        <h3 class="home-index__type10-article-title">
                            <a class="home-index__type10-article-link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                                Type2 內容標題
                            </a>
                        </h3>
                        <h3 class="home-index__type10-text">
                            敘述...
                        </h3>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="home-index__type10-item">
                        <a asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                            <img class="home-index__type10-image" src="~/images/test/thumbnail.png" alt="">
                        </a>
                        <p class="home-index__type10-date">2022/11/04</p>
                        <h3 class="home-index__type10-article-title">
                            <a class="home-index__type10-article-link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                                Type2 內容標題
                            </a>
                        </h3>
                        <h3 class="home-index__type10-text">
                            敘述...
                        </h3>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="home-index__type10-item">
                        <a asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                            <img class="home-index__type10-image" src="~/images/test/thumbnail.png" alt="">
                        </a>
                        <p class="home-index__type10-date">2022/11/04</p>
                        <h3 class="home-index__type10-article-title">
                            <a class="home-index__type10-article-link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                                Type2 內容標題
                            </a>
                        </h3>
                        <h3 class="home-index__type10-text">
                            敘述...
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-index__portfolio" style="background-color:#f5f5f5">
        <div class="container">
            <div class="js-fade-in-on-scroll fade-in-on-scroll d-flex justify-content-between align-items-center mb-4">
                <a asp-controller="Home" asp-action="Portfolio" class="js-home-index-portfolio-link home-index__portfolio-more-link">
                    <h5 class="home-index__portfolio-title" data-title="Portfolio">作品集</h5>
                </a>
            </div>
            <div class="row">
                <div class="js-fade-in-on-scroll fade-in-on-scroll col-12 col-md-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__inner-wrap">
                            <a class="portfolio-item__link" href="/Home/Portfolio/1">
                                <img class="portfolio-item__image" src="~/images/test/portfolio_1.jpg" />
                                <span class="portfolio-item__hint">
                                    <span class="portfolio-item__hint-inner-wrap">億達昌網路商店</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="js-fade-in-on-scroll fade-in-on-scroll col-12 col-md-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__inner-wrap">
                            <a class="portfolio-item__link" href="/Home/Portfolio/1">
                                <img class="portfolio-item__image" src="~/images/test/portfolio_2.jpg" />
                                <span class="portfolio-item__hint">
                                    <span class="portfolio-item__hint-inner-wrap">
                                        泓德能源
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="js-fade-in-on-scroll fade-in-on-scroll col-12 col-md-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__inner-wrap">
                            <a class="portfolio-item__link" href="/Home/Portfolio/1">
                                <img class="portfolio-item__image" src="~/images/test/portfolio_3.jpg" />
                                <span class="portfolio-item__hint">
                                    <span class="portfolio-item__hint-inner-wrap">
                                        協力旺
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="js-fade-in-on-scroll fade-in-on-scroll col-12 col-md-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__inner-wrap">
                            <a class="portfolio-item__link" href="/Home/Portfolio/1">
                                <img class="portfolio-item__image" src="~/images/test/portfolio_4.jpg" />
                                <span class="portfolio-item__hint">
                                    <span class="portfolio-item__hint-inner-wrap">
                                        九洲國際食品有限公司
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="js-fade-in-on-scroll fade-in-on-scroll col-12 col-md-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__inner-wrap">
                            <a class="portfolio-item__link" href="/Home/Portfolio/1">
                                <img class="portfolio-item__image" src="~/images/test/portfolio_5.jpg" />
                                <span class="portfolio-item__hint">
                                    <span class="portfolio-item__hint-inner-wrap">
                                        牡羊座創意空間
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="js-fade-in-on-scroll fade-in-on-scroll col-12 col-md-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__inner-wrap">
                            <a class="portfolio-item__link" href="/Home/Portfolio/1">
                                <img class="portfolio-item__image" src="~/images/test/portfolio_6.jpg" />
                                <span class="portfolio-item__hint">
                                    <span class="portfolio-item__hint-inner-wrap">
                                        舒優美國際股份有限公司
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="module" src="~/js/views/home/index.js"></script>