@using PJDesign_Front_Stage.Models.VCModel
@using PJDesign_Front_Stage.ViewComponents

<section class="unit-type1">
    @await Component.InvokeAsync(nameof(Banner),new BannerVCModel{ChTitle = "關於我們", EngTitle = "About Us", ImageUrl = "/images/test/1.webp"})
    <div class="container" style="padding:60px 0px;">
        關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們關於我們
    </div>
</section>