<div class="js-loader loader active">
    <div class="loader__wrap">
        <img class="loader__image" src="/images/logos/logo.svg" alt="">
        <p class="loader__text"></p>
    </div>
</div>

<script src="~/js/view-components/loader.js"></script>
