@using App.MVC.Models.VCModel
@using App.MVC.ViewComponents

<link rel="stylesheet" href="~/styles/pages/unit-detail2.css">

<section class="unit-detail2">
    @await Component.InvokeAsync(nameof(Banner),new BannerVCModel {ChTitle = "活動快訊", EngTitle = "Event", ImageUrl = "/images/test/banner.png"})
    <div class="container" style="padding-top: 60px;padding-bottom:60px;">
        <div class="unit-detail2__image-wrap">
            <img class="unit-detail2__image" src="~/images/test/1.webp" />
        </div>
        <div class="unit-detail2__content-wrap">
            <span class="unit-detail2__date">2022/11/15</span>
            <h3 class="unit-detail2__title">Type2 標題</h3>
            <div class="unit-detail2__content">
                此區塊為Type2 編輯器內容
            </div>
            <div class="unit-detail2__tag-wrap">
                <a href="" class="unit-detail2__tag">#分類一</a>
                <a href="" class="unit-detail2__tag">#分類二</a>
                <a href="" class="unit-detail2__tag">#標籤一</a>
                <a href="" class="unit-detail2__tag">#標籤二</a>
                <a href="" class="unit-detail2__tag">#標籤三</a>
            </div>
            <hr class="unit-detail2__horizontal-line" />
            <div class="unit-detail2__page-option-wrap">
                <a class="unit-detail2__link unit-detail2__link--prev">上一個</a>
                <a class="unit-detail2__link unit-detail2__link--back" asp-controller="Unit" asp-action="Type2">返回列表頁</a>
                <a class="unit-detail2__link unit-detail2__link--next">下一個</a>
            </div>
        </div>
    </div>
</section>