<div class="pagination">
    <a class="pagination__link active">1</a>
    <a class="pagination__link">2</a>
    <span class="pagination__ignore">...</span>
    <a class="pagination__link">6</a>
    <a class="pagination__link">7</a>
    <a class="pagination__link">8</a>
</div>