@import "../abstracts/variables";
@import "../abstracts/mixins";

.home-portfolio {
}

.portfolio-item {
    margin-bottom: 80px;

    &__inner-wrap {
        overflow: hidden;
    }

    &__link {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        overflow: hidden;
        transition: $speed-slow;
        cursor: pointer;

        &:hover {
            border-color: rgba(0, 0, 0, 0.2);

            .portfolio-item__hint {
                width: 200%;
                height: 300%;
                opacity: 1;
            }
        }
    }

    &__image {
    }

    &__hint {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0px;
        height: 0px;
        padding: 40px 0px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.9);
        white-space: nowrap;
        opacity: 0;
        overflow: hidden;
        transition: $speed-slow linear;
    }

    &__hint-inner-wrap {
        font-size: 20px;
        color: $secondary-color;
        letter-spacing: 5px;
    }
}
