@using App.MVC.Models.VCModel
@using App.MVC.ViewComponents
<link rel="stylesheet" href="~/styles/pages/service-question.css">

<section class="service-question">
    @await Component.InvokeAsync(nameof(Banner),new BannerVCModel {ChTitle = "常見問題", EngTitle = "Question", ImageUrl = "/images/test/banner.png"})
    <div class="container">
        <nav class="service-question__tab-list-wrap">
            <ul class="service-question__tab-list">
                <li class="service-question__tab-list-item">
                    <a href="" data-type="1"
                       class="js-service-question-tab-list-link service-question__tab-list-link active">問題分類一</a>
                </li>
                <li class="service-question__tab-list-item">
                    <a href="" data-type="2"
                       class="js-service-question-tab-list-link service-question__tab-list-link">問題分類二</a>
                </li>
                <li class="service-question__tab-list-item">
                    <a href="" data-type="3"
                       class="js-service-question-tab-list-link service-question__tab-list-link">問題分類三</a>
                </li>
            </ul>
        </nav>
        <nav class="service-question__mobile-tab-list-wrap">
            <a class="js-service-question-mobile-tab-list-target service-question__mobile-tab-list-target" data-type="1">問題分類一</a>
            <ul class="js-service-question-mobile-tab-list service-question__mobile-tab-list">
                <li class="service-question__mobile-tab-list-item">
                    <a href="" data-type="1"
                       class="js-service-question-mobile-tab-list-link service-question__mobile-tab-list-link">問題分類一</a>
                </li>
                <li class="service-question__mobile-tab-list-item">
                    <a href="" data-type="2"
                       class="js-service-question-mobile-tab-list-link service-question__mobile-tab-list-link">問題分類二</a>
                </li>
                <li class="service-question__mobile-tab-list-item">
                    <a href="" data-type="3"
                       class="js-service-question-mobile-tab-list-link service-question__mobile-tab-list-link">問題分類三</a>
                </li>
            </ul>
        </nav>
        <ul class="service-question__list">
            <li class="service-question__list-item">
                <a class="js-service-question-link service-question__list-link" data-index="1" data-status="＋">問題一</a>
                <div class="js-service-question-content service-question__list-content" data-index="1">
                    <div class="service-question__list-content-inner">
                        問題一編輯器內容。
                    </div>
                </div>
            </li>
            <li class="service-question__list-item">
                <a class="js-service-question-link service-question__list-link" data-index="2" data-status="＋">問題二</a>
                <div class="js-service-question-content service-question__list-content" data-index="2">
                    <div class="service-question__list-content-inner">
                        問題二編輯器內容。
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<script src="~/js/views/service/question.js"></script>
