<footer class="main-footer">
    <div class="container">
        <div class="main-footer__content-wrap">
            <div class="main-footer__content-left-wrap">
                <div class="main-footer__content main-footer__content--left">
                    <h3 class="main-footer__content-title">網站導覽</h3>
                    <ul class="main-footer__content-list">
                        <li class="main-footer__content-list-item">
                            <a asp-controller="Home" asp-action="Index" class="main-footer__content-list-link">首頁</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a asp-controller="Unit" asp-action="Type1" class="main-footer__content-list-link">關於我們</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a asp-controller="Home" asp-action="Portfolio" class="main-footer__content-list-link">作品集</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a asp-controller="Unit" asp-action="Type2" class="main-footer__content-list-link">活動快訊</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a asp-controller="Unit" asp-action="Type2" class="main-footer__content-list-link">知識部落格</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a asp-controller="Service" asp-action="Question" class="main-footer__content-list-link">常見問題</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a asp-controller="Service" asp-action="Contact" class="main-footer__content-list-link">聯絡我們</a>
                        </li>
                    </ul>
                </div>
                <div class="main-footer__content main-footer__content--left">
                    <h3 class="main-footer__content-title">活動快訊</h3>
                    <ul class="main-footer__content-list">
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                    </ul>
                </div>
                <div class="main-footer__content main-footer__content--left">
                    <h3 class="main-footer__content-title">知識文章</h3>
                    <ul class="main-footer__content-list">
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                        <li class="main-footer__content-list-item">
                            <a href="" class="main-footer__content-list-link">首頁</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-footer__content-right-wrap">
                <div class="main-footer__content main-footer__content--right">
                    <h3 class="main-footer__content-title">想立刻聯繫我們？</h3>
                    <ul class="main-footer__content-list">
                        <li class="main-footer__content-list-item">
                            <p class="main-footer__content-list-text">地址： 330 桃園市桃園區復興路168號3樓之6</p>
                        </li>
                        <li class="main-footer__content-list-item">
                            <p class="main-footer__content-list-text">客服專線： 03 – 272 8415</p>
                        </li>
                        <li class="main-footer__content-list-item">
                            <p class="main-footer__content-list-text">信箱： test@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <div class="main-footer__content main-footer__content--right">
                    <h3 class="main-footer__content-title">社群</h3>
                    <div class="main-footer__social">
                        <a href="" class="main-footer__social-link">
                            <img class="main-footer__social-icon" src="~/images/icons/facebook.svg" alt="">
                        </a>
                        <a href="" class="main-footer__social-link">
                            <img class="main-footer__social-icon" src="~/images/icons/line.svg" alt="">
                        </a>
                        <a href="" class="main-footer__social-link">
                            <img class="main-footer__social-icon" src="~/images/icons/instagram.svg" alt="">
                        </a>
                    </div>
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous"
                            src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v15.0&appId=751297832794774&autoLogAppEvents=1"
                            nonce="47TvV0mf"></script>
                    <div class="fb-page" data-href="https://www.facebook.com/Taipei101.official/"
                         data-tabs="timeline" data-width="" data-height="70" data-small-header="false"
                         data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/Taipei101.official/"
                                    class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/Taipei101.official/">台北101</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer__copyright-wrap">
        <p class="main-footer__copyright">© 2022 PJ Design</p>
    </div>
</footer>