<div class="type2-list-wrap">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="type2-list-item">
                <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                    <img class="type2-list-item__image" src="~/images/test/thumbnail.png" alt="">
                    <span class="type2-list-item__pin"></span>
                </a>
                <p class="type2-list-item__date">2022/11/04</p>
                <h3 class="type2-list-item__title">
                    <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                        Type2 內容標題
                    </a>
                </h3>
                <p class="type2-list-item__text">
                    敘述...
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="type2-list-item">
                <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                    <img class="type2-list-item__image" src="~/images/test/thumbnail.png" alt="">
                </a>
                <p class="type2-list-item__date">2022/11/04</p>
                <h3 class="type2-list-item__title">
                    <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                        Type2 內容標題
                    </a>
                </h3>
                <p class="type2-list-item__text">
                    敘述...
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="type2-list-item">
                <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                    <img class="type2-list-item__image" src="~/images/test/thumbnail.png" alt="">
                </a>
                <p class="type2-list-item__date">2022/11/04</p>
                <h3 class="type2-list-item__title">
                    <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                        Type2 內容標題
                    </a>
                </h3>
                <p class="type2-list-item__text">
                    敘述...
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="type2-list-item">
                <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                    <img class="type2-list-item__image" src="~/images/test/thumbnail.png" alt="">
                </a>
                <p class="type2-list-item__date">2022/11/04</p>
                <h3 class="type2-list-item__title">
                    <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                        Type2 內容標題
                    </a>
                </h3>
                <p class="type2-list-item__text">
                    敘述...
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="type2-list-item">
                <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                    <img class="type2-list-item__image" src="~/images/test/thumbnail.png" alt="">
                </a>
                <p class="type2-list-item__date">2022/11/04</p>
                <h3 class="type2-list-item__title">
                    <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                        Type2 內容標題
                    </a>
                </h3>
                <p class="type2-list-item__text">
                    敘述...
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="type2-list-item">
                <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                    <img class="type2-list-item__image" src="~/images/test/thumbnail.png" alt="">
                </a>
                <p class="type2-list-item__date">2022/11/04</p>
                <h3 class="type2-list-item__title">
                    <a class="type2-list-item__link" asp-controller="Unit" asp-action="Detail2" asp-route-uid="1" asp-route-tid="1">
                        Type2 內容標題
                    </a>
                </h3>
                <p class="type2-list-item__text">
                    敘述...
                </p>
            </div>
        </div>
    </div>
</div>
