@using PJDesign_Front_Stage.Models.VCModel
@model SearchBarVCModel

<div class="search-bar" style="margin-bottom:60px;">
    <input class="search-bar__input" placeholder="關鍵字搜尋" />
    <div class="js-search-bar-select-wrap search-bar__select-wrap">
        <a class="js-search-bar-select-target search-bar__select-target">全部</a>
        <div class="js-search-bar-select-list-wrap search-bar__select-list-wrap">
            <input class="js-search-bar-select-input" type="hidden" name="selectValue" value="-1" />
            <ul class="search-bar__select-list">
                <li class="js-search-bar-select-list-item search-bar__select-list-item" data-value="-1">全部</li>
                <li class="js-search-bar-select-list-item search-bar__select-list-item" data-value="1">分類一</li>
                <li class="js-search-bar-select-list-item search-bar__select-list-item" data-value="2">分類二</li>
            </ul>
        </div>
    </div>
    <button type="submit" class="search-bar__submit-btn">
    </button>
</div>
<script src="~/js/view-components/search-bar.js"></script>