@using App.MVC.Models.VCModel
@model BannerVCModel

<section class="banner" style="background-image:url('@(Model.ImageUrl)')">
    <div class="container">
        <h2 class="banner__title">@(Model.ChTitle)</h2>
        <h3 class="banner__sub-title">@(Model.EngTitle)</h3>
    </div>
</section>