.banner {
    padding: 50px 0px;
    background-color: linear-gradient(rgba(37, 37, 37, 0.6), rgba(37, 37, 37, 0.6)) 0% 0%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/test/2.jpg");

    @include media-lg {
        padding: 80px 0px;
    }

    &__title {
        color: $tertiary-color;
        font-size: $font-size-xl;
        font-weight: $weight-bold;
        letter-spacing: 5px;
    }

    &__sub-title {
        margin-bottom: 0px;
        color: $tertiary-color;
        font-size: $font-size-l;
        font-weight: $weight-bold;
        letter-spacing: 5px;
    }
}
