@using PJDesignFrontStage.Models.VCModel
@model ModalVCModel

<div class="js-modal modal" data-name="@(Model.Name)">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <h5 class="modal__title">預設標題</h5>
                <button type="button" class="js-modal-close modal__close" data-name="@(Model.Name)">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal__body">
                預設內容
            </div>
            <div class="modal__footer">
                <button type="button" class="js-close-btn btn btn--secondary mr-3">取消</button>
                <button type="button" class="js-confirm-btn btn btn--primary">確定</button>
            </div>
        </div>
    </div>
</div>