@import "./vendors/bootstrap-reboot";
@import "./vendors/bootstrap-grid";

@import "./base/typography";

@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./utils/animation";

@import "./components/carousel";
@import "./components/go-to-btn";
@import "./components/banner";
@import "./components/form";
@import "./components/button";
@import "./components/loader";
@import "./components/modal";
@import "./components/search-bar";
@import "./components/pagination";
@import "./components/portfolio-item";

@import "./layout/grid";
@import "./layout/header";
@import "./layout/footer";

body {
    overflow-x: hidden;
}

.main-main {
    position: relative;
    min-height: 100px;
    padding-top: 56px;

    @include media-lg {
        padding-top: 74px;
    }
}
